/* CSS cua trang web about-me */
.content .background img {
    width: 90%;
    height: 400px;
    margin: 30px;
}

/* .content .avatar {
    border: solid;
} */

.content .avatar img {
    width: 300px;
    height: 400px;
    
}

.content .avatar .info1 {
    font-size: 20px;
}

.content3 {
    font-size: 20px;
    
}

.content1 {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

/* Tao cot timeline nhu fb */
.timeline ul li::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: -10px;
}

.timeline ul li {
    display: block;
    border-left: 1px solid black;
    position: relative;
    padding-left: 15px;
    padding-bottom: 20px;
}

/* chon phan tu thu 2 */
.timeline ul li:nth-child(2) {
    color: brown;
}
/* chon phan tu cuoi cung cua danh sach li */
.timeline ul li:last-child {
    border-left: 0;
}

.timeline ul li h5 {
    margin: 0;
}

/* .footer .icon {
    margin-left: 500px;
}

.footer , p {
    margin-left: 500px;
} */